@model MovieApp.Models.Customer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div> 
		<h1>@Model.Name</h1>
    </div>
</body>
</html>
